<%= form_with(model: carrera, local: true) do |form| %>
  <% if carrera.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(carrera.errors.count, "errores") %> encontrados por lo que no se pudo guardar ésta carrera:</h2>

      <ul>
      <% carrera.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :universidad_id %>
    <%= collection_select( :carrera, :universidad_id, Universidad.all, :id, :nombre, {}, {:multiple => false, :class => "form-control"})   %>
  </div>

  <br>
      
  <div class="actions">
    <%= form.submit "Procesar Carrera", class: "btn btn-primary" %>
  </div>
<% end %>
