<h1>Carreras</h1>

<br>

<%= search_form_for @search do |f| %>
  <div class="form-inline">
    <div class='field'>
      <%= f.label :nombre_cont, "Nombre contiene:" %>
      <%= f.text_field :nombre_cont, class: "form-control" %>
      <input class="btn btn-primary" type="submit" value="Buscar">
    </div>
  </div>
<% end %>

<br>

<table id='carreras_table_id' class='table table-hover'>
  <thead id='carreras_table_head_id'>
    <tr>
      <th><%= sort_link @search, :nombre, "Nombre" %></th>
      <th><%= sort_link @search, :universidad_id, "Universidad" %></th>      
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody id='carreras_table_body_id'>
    <% @carreras.each do |carrera| %>
      <tr>
        <td><%= carrera.nombre %></td>
        <td><%= carrera.universidad.descripcion %> (<%= carrera.universidad.nombre %>)</td>
        <td><%= link_to 'Ver', carrera %></td>
        <td><%= link_to 'Editar', edit_carrera_path(carrera) %></td>
        <td><%= link_to 'Eliminar', carrera, method: :delete, data: { confirm: '¿Está Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Carrera', new_carrera_path %>
