<p>
  <strong>Nombre:</strong>
  <%= @carrera.nombre %>
</p>

<p>
  <strong>Universidad:</strong>
  <%= @carrera.universidad.nombre %>
</p>

<%= link_to 'Edit', edit_carrera_path(@carrera) %> |
<%= link_to 'Back', carreras_path %>

<div id='info_tables_pensums_id'>
  <h3>Pensums</h3>

  <div>
    <table class='table table-hover'>
      <thead>
        <tr>
          <th>Universidad</th>
          <th>Carrera</th>
          <th>Nombre</th>
          <th>Date</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @carrera.pensums.each do |pensum| %>
          <tr>
            <td><%= pensum.carrera.universidad.nombre %></td>
            <td><%= pensum.carrera.nombre %></td>
            <td><%= pensum.nombre %></td>
            <td><%= pensum.date %></td>
            <td><%= link_to 'Ver', pensum %></td>
            <td><%= link_to 'Editar', edit_pensum_path(pensum) %></td>
            <td><%= link_to 'Eliminar', pensum, method: :delete, data: { confirm: 'Estás seguro?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>    
  </div>

  <div id='info_tables_asignaturas_id'>
    <h3>Asignaturas</h3>

    <table class='table table-hover'>
      <thead>
        <tr>
          <th>Clave</th>
          <th>Nombre</th>
          <th>Creditos</th>
          <th>Universidad</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @carrera.asignaturas.each do |asignatura| %>
          <tr>
            <td><%= asignatura.clave %></td>
            <td><%= asignatura.nombre %></td>
            <td><%= asignatura.creditos %></td>
            <td><%= asignatura.pensum.carrera.universidad.descripcion %> (<%= asignatura.pensum.carrera.universidad.nombre %>)</td>
            <td><%= link_to 'Ver', asignatura %></td>
            <td><%= link_to 'Editar', edit_asignatura_path(asignatura) %></td>
            <td><%= link_to 'Eliminar', asignatura, method: :delete, data: { confirm: 'Estás seguro?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>