<%= form_with(model: asignatura, local: true) do |form| %>
  <% if asignatura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(asignatura.errors.count, "errores") %> encontrados por lo que no se pudo guardar ésta asignatura:</h2>

      <ul>
      <% asignatura.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :clave %>
    <%= form.text_field :clave, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :creditos %>
    <%= form.number_field :creditos, class: "form-control" %>
  </div>

  <br>

  <div class="form-inline">
    <%= form.label :universidad_id %>
    <%= form.collection_select :universidad_id, Universidad.all, :id, :nombre, {:include_blank => true}, {:class => "form-control"} %>
    <div class="form-group">
      <%= form.label :carrera_id %>
      <%= form.grouped_collection_select :carrera_id, Universidad.order(:nombre), :carreras, :nombre, :id,  :nombre , {:include_blank => true}, {:class => "form-control"} %>
    </div>
    <div class="form-group">
      <%= form.label :pensum_id %>
      <%= form.grouped_collection_select :pensum_id, Carrera.order(:nombre), :pensums, :nombre, :id,  :nombre , {:include_blank => true}, {:class => "form-control"} %>
    </div>
  </div>

  <br>

      
  <div class="actions">
    <%= form.submit "Crear Asignatura", class: "btn btn-primary"%>    
  </div>  

<% end %>
