<%= form_with(model: convalidacion, local: true) do |form| %>
  <% if convalidacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(convalidacion.errors.count, "errores") %> encontrados por lo que no se pudo guardar ésta convalidación:</h2>

      <ul>
      <% convalidacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Información General</h3>
    </div>
    <div class="panel-body">
      <form>        
        <div class="form_group">
          <div class="page-header">
            <h3><small>Información de Estudiante</small></h3>
          </div>
          <div class="form-inline">      
            <%= form.fields_for :estudiante do |e| %> 
              <%= e.label :nombres , class:"form-control" %>
              <%= e.text_field :nombres , class:"form-control" %>

              <%= e.label :apellidos , class:"form-control" %>
              <%= e.text_field :apellidos , class:"form-control" %>

              <%= e.label :matricula , class:"form-control" %>
              <%= e.text_field :matricula , class:"form-control" %>
            <% end %>
          </div>
        </div>
        

        <div class="form-inline">
          <div class="form-group">
            <div class="page-header">
              <h3><small>Información local</small></h3>
            </div>

            <div class="form-inline">
              <%= form.label :universidad_home_id, "Universidad Local" %>
              <%= form.collection_select :universidad_home_id, Universidad.all, :id, :nombre, {:include_blank => true}, {:class => "form-control"} %>
              <div class="form-group">
                <%= form.label :carrera_home_id, "Carrera Local" %>
                <%= form.grouped_collection_select :carrera_home_id, Universidad.order(:nombre), :carreras, :nombre, :id,  :nombre , {:include_blank => true}, {:class => "form-control"} %>
              </div>
              <div class="form-group">
                <%= form.label :pensum_home_id, "Pensum Local" %>
                <%= form.grouped_collection_select :pensum_home_id, Carrera.order(:nombre), :pensums, :nombre, :id,  :nombre , {:include_blank => true}, {:class => "form-control"} %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="page-header">
              <h3><small>Información de procedencia</small></h3>
            </div>

            <div class="form-inline">
              <div class="form-group">
                <%= form.label :universidad_procedencia_id, "Universidad de Procedencia" %>
                <%= form.collection_select :universidad_procedencia_id, Universidad.order(:nombre), :id, :nombre, {:include_blank => true}, {:class => "form-control"} %>
              </div>
              <div class="form-group">
                <%= form.label :carrera_procedencia_id, "Carrera de Procedencia" %>
                <%= form.grouped_collection_select :carrera_procedencia_id, Universidad.order(:nombre), :carreras, :nombre, :id,  :nombre , {:include_blank => true}, {:class => "form-control"} %>
              </div>
              <div class="form-group">
                <%= form.label :pensum_procedencia_id, "Pensum de Procedencia" %>
                <%= form.grouped_collection_select :pensum_procedencia_id, Carrera.order(:nombre), :pensums, :nombre, :id, :nombre, {:multiple => true, :include_blank => true}, {:class => "form-control"} %>
              </div>
            </div>
          </div>
        </div>
        
        <div class="page-header">
          <h3><small>Seleccione las asignaturas de procedencia a convalidar</small></h3>
        </div>

        <div class="form-inline">
          <div class="form-group">
            <label for="asignaturas_home_choose">Asignaturas Locales</label>
            <div class="form-inline">
              <div class="field">
                <select style="width: 400px; height: 250px" multiple class="list-group" id="asignaturas_home_choose">
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="asignaturas_procedencia_choose">Asignaturas de procedencia</label>
            <div class="form-inline">
              <div class="field">
                <select style="width: 400px; height: 250px" multiple class="list-group" id="asignaturas_procedencia_choose">
                </select>
              </div>
            </div>
          </div>
        </div>

        <input type="Action" id="convalidar_seleccion_button_id" name="convalidar_seleccion_button" class="btn btn-primary" value="Convalidar Selección" >
        
        <br><br> 
        <%= form.fields_for :convalidacion_items do | item | %>
          <div id="hidden_items_fields_div_id">
          
          </div>
        <% end %>

        <div class="form-group">
          <h3>Reporte de Convalidación</h3>   

          <table id='asignaturas_convalidables_table_id' class="table table-hover">
              <thead>
                  <tr>
                      <th><%=  %>Clave</th>
                      <th><%=  %>Asig. Convalidables</th>
                      <th><%=  %>Calificacion</th>
                      <th><%=  %>CR</th>
                      <th><%=  %>Clave</th>
                      <th><%=  %>Asig. Convalidadas</th>
                      <th><%=  %>CR</th>                                      
                  </tr>
              </thead>
                      
              <tbody id='asignaturas_convalidables_table_tbody_id'>
              
              </tbody>
          </table>

          <div class="form-inline">
            <%= form.label :total_creditos_procedencia, 'Total de Creditos convalidables' , class:"form-control"  %>
            <%= form.text_field :total_creditos_procedencia , class:"form-control", :readonly => true %>  
            <%= form.label :total_creditos_home,  'Total de Creditos convalidados' , class:"form-control" %>
            <%= form.text_field :total_creditos_home , class:"form-control", :readonly => true %>   
          <div>
        </div>

        <br>
        
        <div class="actions">
          <input type="submit" name="commit" value="Crear Convalidación" class="btn btn-success" data-disable-with="Procesando...">          
        </div>

      </form>
    </div>
  </div>

<% end %>