<%= form_with(model: convalidacion, local: true) do |form| %>
  <% if convalidacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(convalidacion.errors.count, "error") %> prohibited this convalidacion from being saved:</h2>

      <ul>
      <% convalidacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Información General</h3>
    </div>
    <div class="panel-body">
      <form>
        <%= fields_for :estudiantes, @estudiantes do |e| %> 
          <div class="form_group">
            <div class="form-inline">
              <label for="estudiante_nombres">Nombres</label>
              <input type="text" class="form-control" id="estudiante_nombres" placeholder="Escribir Nombres" >
              <label for="estudiante_apellidos">Apellidos</label>
              <input type="text" class="form-control" id="estudiante_apellidos" placeholder="Escribir Apellidos" >
              <label for="estudiante_matricula">Matricula</label>
              <input type="text" class="form-control" id="estudiante_matricula" placeholder="Escribir Matricula" value:"" >
            </div>
          </div>
        <% end %>

        <div class="form-inline">
          <div class="form-group">
            <div class="page-header">
              <h3><small>Información local</small></h3>
            </div>

            <div class="form-inline">
              <%= form.label :universidad_home_id %>
              <%= form.collection_select :universidad_home_id, Universidad.all, :id, :nombre, {:selected => 'UTESA', :include_blank => true}, {:class => "form-control"} %>
              <div class="form-group">
                <%= form.label :carrera_home_id %>
                <%= form.grouped_collection_select :carrera_home_id, Universidad.order(:nombre), :carreras, :nombre, :id,  :nombre , {:include_blank => true}, {:class => "form-control"} %>
              </div>
              <div class="form-group">
                <%= form.label :pensum_home_id %>
                <%= form.grouped_collection_select :pensum_home_id, Carrera.order(:nombre), :pensums, :nombre, :id,  :nombre , {:include_blank => true}, {:class => "form-control"} %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="page-header">
              <h3><small>Información de procedencia</small></h3>
            </div>

            <div class="form-inline">
              <div class="form-group">
                <%= form.label :universidad_procedencia_id %>
                <%= form.collection_select :universidad_procedencia_id, Universidad.order(:nombre), :id, :nombre, {:include_blank => true}, {:class => "form-control"} %>
              </div>
              <div class="form-group">
                <%= form.label :carrera_procedencia_id %>
                <%= form.grouped_collection_select :carrera_procedencia_id, Universidad.order(:nombre), :carreras, :nombre, :id,  :nombre , {:include_blank => true}, {:class => "form-control"} %>
              </div>
              <div class="form-group">
                <%= form.label :pensum_procedencia_id %>
                <%= form.grouped_collection_select :pensum_procedencia_id, Carrera.order(:nombre), :pensums, :nombre, :id, :nombre, {:multiple => true, :include_blank => true}, {:class => "form-control"} %>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="form-inline">
    <div class="form-group">
      <label for="asignaturas_home_choose">Asignaturas Locales</label>
      <div class="form-inline">
        <div class="field">
          <select multiple class="list-group" id="asignaturas_home_choose">
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="asignaturas_procedencia_choose">Asignaturas de procedencia</label>
      <div class="form-inline">
        <div class="field">
          <select multiple class="list-group" id="asignaturas_procedencia_choose">
          </select>
        </div>
      </div>
    </div>
  </div>

  <input type="submit" id="convalidar_seleccion_button_id" name="convalidar_seleccion_button" class="btn btn-primary" value="Convalidar Seleccion" >

  <br><br>

  <div class="actions">
  <%= form.submit class: "btn btn-success"%>
  </div>

<% end %>
