<!DOCTYPE html>
<html>
    <head>  <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
        <style type="text/css">
            <!--
            /* divs */
            div.footer {bottom: 15%; width: 100%}
            div.general_info{display: inline-block;} 
            div.header {text-align: center;}
            div.info_section {border: 2px solid black; margin-top: 40px}            
            div.note {text-align: justify; margin: auto; width: 80%}
            div.note span {font-size: 18px}
            div.note span em {font-weight: bold; text-decoration: underline}
            
            
            /* tables */            
            table.info {border: 1px solid black;border-collapse: collapse; font-size:10.0px;width:100%;}
            table.info th {border: 1px solid black;font-size:18.0px;font-weight:bold;font-style:normal}
            table.info td {border: 1px solid black;font-style:normal;font-size:18.0px}
            table.info td.align-center {text-align: center}
            table.signatures {table-layout: auto; width: 100%}
            table.signatures th {font-weight: bold}
            table.signatures td {text-align: center; font-weight: bold; font-size: 18px}
            table.signatures td.signatures_name {text-align: center; font-weight: bold; text-decoration: underline; font-size: 20px}

            /* texts */
            h3 {font-family:Times,serif;font-weight:bold;text-decoration: none; margin: 2px}
            h3.title {margin: 15px; color: rgb(22, 25, 228)}            
            h4 {font-family:Times,serif;font-weight:bold;text-decoration: none; margin: 5px}
            span {font-family:Times,serif;font-weight:bold;text-decoration: none; margin: 2px}
            .inline-item {display: inline;}
            .align-right{float: right;}
            .bold {font-weight:bold}
            .boldcenter {font-weight:bold; text-align: center}

            /* footer */
            footer{margin-top: 250px; float: center}


            -->
        </style>
        <script type="text/javascript" src="351d80d0-af13-11e8-b59b-0cc47a792c0a_id_351d80d0-af13-11e8-b59b-0cc47a792c0a_files/wz_jsgraphics.js"></script>
    </head>

    <body>
        <div class="header">
            <h3>UNIVERSIDAD ABIERTA PARA ADULTOS</h3> 
            <h3>UAPA</h3> 
            <h3>SANTIAGO DE LOS CABALLEROS, REP.DOM.</h3>
            <h3 class="title">CONVALIDACION DE ASIGNATURA(S)</h3>
        </div>

        <div class="info_section">
            <div>
                <div class='inline-item'>
                    <span class='align-left'>MATRICULA:   <%= @convalidacion.estudiante.matricula %></span>
                    <span class='align-right' Style="padding-right: 15px">FECHA DE SOLICITUD: <%= @convalidacion.created_at.strftime("%d-%m-%Y") %></span>
                </div>
                <h4>NOMBRE (S):   <%= @convalidacion.estudiante.nombres %></h4>
                <h4>APELLIDOS (S):   <%= @convalidacion.estudiante.apellidos %></h4>
                <h4>CARRERA:   <%= Carrera.find(@convalidacion.carrera_home_id).nombre %></h4> 
                <br>                
                <h4>UNIVERSIDAD DE PROCEDENCIA:   <%= Universidad.find(@convalidacion.universidad_procedencia_id).descripcion %> (<%= Universidad.find(@convalidacion.universidad_procedencia_id).nombre %>)</h4>
                <h4>CARRERA DE PROCEDENCIA:   <%= Carrera.find(@convalidacion.carrera_procedencia_id).nombre %></h4>
            </div>

            
        </div>
        <br>
        
        <div>
            <table class="info">
                <thead>
                    <tr>
                        <th>Clave</th>
                        <th>Asig. Convalidables</th>
                        <th>Calif.</th>
                        <th>CR</th>
                        <th>Clave</th>
                        <th>Asig. Convalidadas</th>
                        <th>CR</th>                        
                    </tr>
                </thead>

                <tbody>
                    <%- ConvalidacionItem.where(convalidacion_id: @convalidacion.id).each do | item | %>
                        <tr>
                            <td class="align-center"><%= item.asignatura_procedencia_clave %></td>
                            <td><%= item.asignatura_procedencia_nombre %></td>
                            <td class="align-center"><%= item.asignatura_procedencia_calificacion %></td>
                            <td class="align-center"><%= item.asignatura_procedencia_creditos %></td>
                            <td class="align-center"><%= item.asignatura_local_clave %></td>
                            <td><%= item.asignatura_local_nombre %></td>
                            <td class="align-center"><%= item.asignatura_local_creditos %></td>
                        </tr>                                         
                    <% end %>
                    <tr>
                        <td></td>
                        <td class="bold">Total Créditos Convalidables:</td>
                        <td></td>
                        <td class="boldcenter"><%= @convalidacion.total_creditos_procedencia %></td>
                        <td></td>
                        <td class="bold">Total Créditos Convalidados:</td>
                        <td class="boldcenter"><%= @convalidacion.total_creditos_home %></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br><br>
        <footer> 
            <div >
                <table class="signatures">
                    <thead>
                        <th></th>
                        <th class="signatures">_________________________________</th>
                        <th class="signatures">_________________________________</th>
                        <th></th>
                    
                    </thead>

                    <tbody>
                        <tr>                        
                            <td></td>
                            <td class="signatures_name">Dra. Reyna Hiraldo</td>
                            <td class="signatures_name">Alexandra Ventura M.A.</td>
                            <td></td>
                        </tr>
                        <tr>                        
                            <td></td>
                            <td class="signatures">Director(a) Escuela de Ingeniería y Tecnología</td>
                            <td class="signatures">Director(a) de Registro</td>
                            <td></td>
                        </tr>
                    </tbody>            
                </table>
                <br><br>
                <div class="note">
                    <span><em>NOTA:</em> Este formulario es válido si está debidamente firmado y sellado por las autoridades académicas autorizadas.</span>
                </div>           
        </footer>
    </body>
</html>