<h1>Convalidaciones Realizadas</h1>

<table class='table table-hover'>
  <thead>
    <tr>
      <th>Estudiante</th>
      <th>Matricula</th>
      <th>Universidad de procedencia</th>
      <th>Fecha</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @convalidacions.each do |convalidacion| %>
      <tr>
        <td><%= convalidacion.estudiante.nombres convalidacion.estudiante.apellidos %></td>
        <td><%= convalidacion.estudiante.matricula %></td>
        <td><%= convalidacion.universidad_procedencia %></td>
        <td><%= convalidacion.fecha_realizacion %></td>
        <td><%= link_to 'Show', convalidacion %></td>
        <td><%= link_to 'Edit', edit_convalidacion_path(convalidacion) %></td>
        <td><%= link_to 'Destroy', convalidacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Convalidacion', new_convalidacion_path %>
