<h1>Convalidaciones Realizadas</h1>

<table class='table table-hover'>
  <thead>
    <tr>
      <th>Estudiante</th>
      <th>Matricula</th>
      <th>Universidad de procedencia</th>
      <th>Fecha</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @convalidacions.each do |convalidacion| %>
      <tr>
        <td><%= Estudiante.find(convalidacion.estudiante_id).nombres %> <%= Estudiante.find(convalidacion.estudiante_id).apellidos %></td>
        <td><%= Estudiante.find(convalidacion.estudiante_id).matricula %></td>
        <td><%= Universidad.find(convalidacion.universidad_procedencia_id).descripcion %></td>
        <td><%= convalidacion.created_at %></td>
        <td><%= link_to 'Ver', convalidacion %></td>
        <td><%= link_to 'Editar', edit_convalidacion_path(convalidacion) %></td>
        <td><%= link_to 'Eliminar', convalidacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Convalidacion', new_convalidacion_path %>
