<h1>New Convalidacion</h1>

<%= render 'form', convalidacion: @convalidacion %>

<div>
    <h3>Reporte de Convalidación    <span class="glyphicon glyphicon-print" aria-hidden="true"></span></h3>

    <table id='asignaturas_convalidables_table_id' class="table table-hover">
        <thead>
            <tr>
                <th><%=  %>Clave</th>
                <th><%=  %>Asig. Convalidables</th>
                <th><%=  %>Calificacion</th>
                <th><%=  %>CR</th>
                <th><%=  %>Clave</th>
                <th><%=  %>Asig. Convalidadas</th>
                <th><%=  %>CR</th>
                                
            </tr>
        </thead>
                
        <tbody id='asignaturas_convalidables_table_tbody_id'>
        
        </tbody>

    </table>
    
</div>


<%= link_to 'Back', convalidacions_path %>
