<h1>New Convalidacion</h1>

<%= render 'form', convalidacion: @convalidacion %>

<div>
    <h3>Asignaturas de convalidables</h3>

    <table id='asignaturas_convalidables_table_id' class="table table-hover">
        <thead>
            <tr>
                <th><%= "Sel" %>Sel</th>
                <th><%= "Clave" %>Clave</th>
                <th><%= "Asignatura" %>Asignatura</th>
                <th><%= "Creditos" %>Creditos</th>                
            </tr>
        </thead>
                
        <tbody id='asignaturas_convalidables_table_tbody_id'>
        
        </tbody>

    </table>
</div>

<%= link_to 'Back', convalidacions_path %>
