<%= form_with(model: estudiante, local: true) do |form| %>
  <% if estudiante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(estudiante.errors.count, "errores") %> encontrados por lo que no se pudo guardar éste Estudiante:</h2>

      <ul>
      <% estudiante.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inline">
    <%= form.label :nombres, class:"form-control" %>
    <%= form.text_field :nombres, class:"form-control" %>
  </div>

  <div class="form-inline">
    <%= form.label :apellidos, class:"form-control" %>
    <%= form.text_field :apellidos, class:"form-control" %>
  </div>

  <div class="form-inline">
    <%= form.label :matricula, class:"form-control" %>
    <%= form.text_field :matricula, class:"form-control" %>
  </div>

  <div class="form-inline">
    <%= form.label :correo, class:"form-control"  %>
    <%= form.text_field :correo, class:"form-control" %>
  </div>

  <div class="form-inline">
    <%= form.label :telefono, class:"form-control" %>
    <%= form.text_field :telefono, class:"form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Procesar Estudiante", class: "btn btn-primary" %>
  </div>
<% end %>
