<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @estudiante.nombre %>
</p>

<p>
  <strong>Matricula:</strong>
  <%= @estudiante.matricula %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @estudiante.correo %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @estudiante.telefono %>
</p>

<p>
  <strong>Persona:</strong>
  <%= @estudiante.persona %>
</p>

<p>
  <strong>Carrera:</strong>
  <%= @estudiante.carrera %>
</p>

<%= link_to 'Edit', edit_estudiante_path(@estudiante) %> |
<%= link_to 'Back', estudiantes_path %>
