<br><br>

<p>
  <strong>Nombre:</strong>
  <%= @estudiante.nombres %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @estudiante.apellidos %>
</p>

<p>
  <strong>Matricula:</strong>
  <%= @estudiante.matricula %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @estudiante.correo %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @estudiante.telefono %>
</p>


<%= link_to 'Editar', edit_estudiante_path(@estudiante) %> |
<%= link_to 'Volver', estudiantes_path %>
