<br><br>
<p>
  <strong>Asignatura local:</strong>
  <%= Asignatura.find(@relacion.asignatura_home_id).nombre %>
</p>
<p>
  <strong>Asignatura de procedencia A:</strong>
  <%= Asignatura.find(@relacion.asignatura_a_procedencia_id).nombre %>
</p>
<p>
  <strong>Asignatura de procedencia B:</strong>
  <%= @relacion.asignatura_b_procedencia_id.nil? ? '' : Asignatura.find(@relacion.asignatura_b_procedencia_id).nombre %>
</p>
<p>
  <strong>Universidad de procedencia:</strong>
  <%= Universidad.find(Asignatura.find(@relacion.asignatura_a_procedencia_id).universidad_id).nombre %>
</p>


<%= link_to 'Editar', edit_relacion_path(@relacion) %> |
<%= link_to 'Volver', relacions_path %>
