<h1>Universidades</h1>

<table role='datatable'>
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripción</th>
      <th scope="col">Logo</th>
      <th scope="col" colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @universidads.each do |universidad| %>
      <tr>
        <th scope="row"><%= universidad.id %>
        <td><%= universidad.nombre %></td>
        <td><%= universidad.descripcion %></td>
        <td><%= image_tag universidad.logo_url, class: '.img-responsive .center-block img-rounded', style:'width:50px' if universidad.logo.present? %>
        <td><%= link_to 'Ver', universidad %></td>
        <td><%= link_to 'Editar', edit_universidad_path(universidad) %></td>
        <td><%= link_to 'Eliminar', universidad, method: :delete, data: { confirm: 'Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Universidad', new_universidad_path %>
