<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @persona.tipo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @persona.descripcion %>
</p>

<%= link_to 'Edit', edit_persona_path(@persona) %> |
<%= link_to 'Back', personas_path %>
