<h1>Pensums</h1>

<br>

<%= search_form_for @search do |f| %>
  <div class="form-inline">
    <div class='field'>
      <%= f.label :nombre_cont, "Nombre contiene:" %>
      <%= f.text_field :nombre_cont %>
    </div>
    <div class='actions'><%= f.submit "Buscar"%></div>
  </div>
<% end %>

<table class='table table-hover'>
  <thead>
    <tr>
      <th><%= sort_link @search, :universidad_id, "Universidad" %></th>
      <th><%= sort_link @search, :carrera_id, "Carrera" %></th>
      <th><%= sort_link @search, :nombre, "Nombre" %></th>
      <th><%= sort_link @search, :date, "Fecha" %></th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @pensums.each do |pensum| %>
      <tr>
        <td><%= pensum.carrera.universidad.nombre %></td>
        <td><%= pensum.carrera.nombre %></td>
        <td><%= pensum.nombre %></td>
        <td><%= pensum.date %></td>
        <td><%= link_to 'Show', pensum %></td>
        <td><%= link_to 'Edit', edit_pensum_path(pensum) %></td>
        <td><%= link_to 'Destroy', pensum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pensum', new_pensum_path %>
